*
{
    padding: 0;
    margin: 0;
}

body
{
    padding: 32px 0;
    font-family: sans-serif;
    background-color: #242424;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
a
{
    color: #FCCA50;
}

table
{
    margin: 64px 0;
    border-collapse: collapse;
}

table, th, td
{
    border: 1px solid #FCCA50;
}

th, td
{
    padding: 8px;
}

th
{
    background-color: #FCCA50;
    color: #242424;
}
